<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pricing</h2>

=======
﻿
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pricing</h2>

>>>>>>> 970e65f1d2270e5173e87e511adc2f29cfa5d859
