@model IEnumerable<Library.Models.Customer>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-3">
	<div class="row">
		<div class="col-sm-6">
			<h2>Welcome To DIT Kevin Street Library</h2>
		</div>
		<div class="col-sm-6">
			<img style="height: 150px; width: 30%; display: block;" src="~/image/DIT.jpg" alt="Card image">
		</div>
	</div>
</div>

<div class="mt-5">
	<form>
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
				<input type="button" value="Student Login" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Login", "Customer")'" />
			</div>
			<div class="col-sm-3">
				<input type="button" value="Staff Login" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("StaffLogin", "Librarian")'" />
			</div>
		</div>
	</form>
</div>



